/target
Cargo.lock
collision_meshes/soccar/mesh_0.cmf
collision_meshes/soccar/mesh_1.cmf
collision_meshes/soccar/mesh_2.cmf
collision_meshes/soccar/mesh_3.cmf
collision_meshes/soccar/mesh_4.cmf
collision_meshes/soccar/mesh_5.cmf
collision_meshes/soccar/mesh_6.cmf
collision_meshes/soccar/mesh_7.cmf
collision_meshes/soccar/mesh_8.cmf
collision_meshes/soccar/mesh_9.cmf
collision_meshes/soccar/mesh_10.cmf
collision_meshes/soccar/mesh_11.cmf
collision_meshes/soccar/mesh_12.cmf
collision_meshes/soccar/mesh_13.cmf
collision_meshes/soccar/mesh_14.cmf
collision_meshes/soccar/mesh_15.cmf
rewards_test.txt
